.btn {
	padding: 16px 30px;
	border-radius: 4px;
}
.btn.primary {
	background: #4e42d9;
	color: #ffffff;
}
.btn.primary:hover {
	background: #5227cc;
}
.btn.secondary {
	background: rgba(78, 66, 217, 0.18);
	color: #4e42d9;
}
.btn:hover {
	cursor: pointer;
}
