.current {
	color: #4e42d9;
}
.nav-list-content {
	list-style-type: none;
}
.nav-toggle {
	display: none;
	float: right;
	text-align: right;
	width: 50%;
}
.nav-toggle > img {
	width: 5.6%;
	text-align: right;
	background-color: white;
	padding: 6px 0;
}
.nav-toggle > img:hover {
	cursor: pointer;
}
.header {
	width: 100%;
}
.header::after,
.small-screen::after,
.nav-area::after,
.navigation::after,
.hero-body::after,
.hero-btn::after {
	content: '';
	clear: both;
	display: table;
}
.logo {
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 36px;
}
.logo > span {
	color: #4e42d9;
}
.nav-list-content {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	/* identical to box height */

	/* Body / Paragraph */

	color: #797979;
}
.header-area {
	position: relative;
	width: 100%;
	height: auto;
}
.header-area::after {
	content: '';
	clear: both;
	display: table;
}
.working-section-head {
	font-style: normal;
	font-weight: 600;
	font-size: 32px;
	line-height: 177.9%;
	text-align: center;
}
.content-of-work::after {
	content: '';
	clear: both;
	display: table;
}
.working-area-icon {
	width: 100%;
	margin: 0 0 24px 0;
}

.working-area-background {
	margin-left: auto;
	margin-right: auto;
	width: 31.92%;
	aspect-ratio: 1/1;
	background-color: #fff2f2;
	border-radius: 20px;
	position: relative;
}
.rocket {
	background-color: #e2f3ff;
}
.game {
	background-color: #fdfbda;
}
.ai {
	background-color: #ffe7fb;
}
.working-area-background > img {
	width: 41%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.working-area-text {
	text-align: center;
}
.working-area-text > h1 {
	font-style: normal;
	font-weight: 500;
	font-size: 25px;
	line-height: 150%;
	/* identical to box height, or 38px */

	text-align: center;
	letter-spacing: 0.01em;

	/* Body / Title */

	color: #3b3950;
}
.working-area-text > p {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	/* or 24px */

	text-align: center;
	letter-spacing: 0.01em;

	color: #797979;
}
.blog-body {
	width: 100%;
	background-color: #f8f8f8;
}
.Blog-heading {
	text-align: center;
}
.blog-content::after {
	content: '';
	clear: both;
	display: table;
}
.Blog-heading > h1 {
	font-style: normal;
	font-weight: 600;
	font-size: 32px;
	line-height: 140%; /* identical to box height, or 45px */

	letter-spacing: 0.01em;

	/* Body / Title */

	color: #3b3950;
	margin-bottom: 8px;
}
.Blog-heading > p {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	/* or 24px */

	text-align: center;
	letter-spacing: 0.01em;
	color: #797979;
}
.date-blog-area {
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 140%;
	color: #797979;
	margin: 12px 0;
}
.main-blog-area > h1 {
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 140%;
	/* or 25px */

	letter-spacing: 0.01em;
	color: #3b3950;
}
.main-blog-area > p {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	/* or 24px */

	letter-spacing: 0.01em;

	/* Body / Paragraph */

	color: #797979;
}
.footer-section {
	background-color: #292838;
	color: #ffffff;
}
.footer-section::after {
	content: '';
	clear: both;
	display: table;
}
.footer-content > h1 {
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 45px;
	/* identical to box height */

	color: #ffffff;
	margin-bottom: 6px;
}
.footer-content > p {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	/* or 24px */
	margin-top: 6px;
	color: rgba(255, 255, 255, 0.8);
}
.footer-table-row > h1 {
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 110%;
	/* identical to box height, or 20px */

	text-transform: uppercase;

	color: #ffffff;
}
.footer-table-row > p > a {
	color: rgba(255, 255, 255, 0.8);
}
.footer-table-row > p {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 110%;
	/* identical to box height, or 18px */
}
.copyright {
	background-color: #23222f;
}
section.copyright > div {
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 140%;
	/* identical to box height, or 20px */

	color: rgba(255, 255, 255, 0.8);
}
