.header {
	padding: 18px 11% 19px 11%;
}
.header-logo {
	float: left;
	padding: 11px 0 13px 1.26%;
}
.navigation {
	float: left;
	margin-left: 5.4%;
	padding: 16px 0;
	width: 41%;
}

.navigation-list-content:not(:last-child) {
	padding-right: 4.14%;
}
.header-form {
	float: right;
	width: 20%;
}
.header-input-area {
	width: 67%;
	padding: 12px 0 12px 6%;
	float: left;
}
.header-button-area {
	margin-left: 0.36%;
	padding: 11px 0 12px 0;
	width: 31%;
}
.section-heading {
	padding: 32px 0;
}
.color-section-heading {
	padding: 52px 0 27px 0;
}
.color-area {
	width: 100%;
}
.color-box {
	width: 14%;
	float: left;
}
.color-box:not(:first-child) {
	margin-left: 2%;
}
.color-class {
	width: 100%;
	padding: 36px 0;
	border-radius: 8px;
}
.color-detail {
	margin: 13px 0 0 0;
}
.color-detail-hex {
	margin: 4px 0 0 0;
}
.tabs-section-body {
	width: 55%;
	margin-top: 24px;
}
.actual-tabs {
	width: 100%;
}
.tabs-name {
	float: left;
	padding: 9px 29px 10px 26px;
}
.empty-tab {
	float: none;
	overflow: hidden;
	padding: 11.5px 0;
}
.tab-content {
	width: 90%;
	margin-top: 17px;
}
.button-table {
	margin-top: 17px;
}
.button-section-heading {
	margin-top: 54px;
	padding-bottom: 16px;
}
td {
	padding: 11.5px 0;
}
.horizontal-divide-small {
	padding-right: 5vw;
}
.horizontal-divide-long {
	padding-left: 11vw;
}
.form-container {
	padding-top: 54px;
}
.form-components {
	float: left;
	width: 31%;
}
.actual-form {
	float: left;
	margin-left: 4.86%;
	width: 54%;
}
.components-list {
	margin-top: 35px;
}
.component-elements {
	padding: 16px 0 17px 4%;
}

.input-label-width {
	margin-top: 16px;
}
textarea.input-label-width {
	padding-bottom: 70px;
}
.input-element:not(:first-child) {
	margin-top: 48px;
}

.selecting-area-form-two {
	float: left;

	width: 20%;
}
.selecting-area-form-two.clearfix {
	width: 80%;
	padding-left: 8%;
}
.selecting-area-actual {
	float: left;
}
.selecting-area-actual:not(:last-child) {
	margin-right: 9%;
}
.small-label {
	padding: 24px 0 16px 0;
}
.vertical-selecting {
	padding-bottom: 14px;
}
.validation-success {
	margin-top: 26px;
}
.validation-label-success {
	border-color: #28a745;
}
.validation-label-error {
	border-color: #dc3545;
}
