.btn {
	padding: 10px 16px;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	border: 1px solid #7749f8;
	border-radius: 4px;
}
.btn.primary,
.btn.outline.hover {
	background: #7749f8;
	color: #ffffff;
}
.btn.primary.hover,
.btn.primary.focus {
	background: #5227cc;
	color: #ffffff;
}
.btn.primary.foucs {
	background: #5227cc;
	color: #ffffff;
}
.btn.outline {
	color: #5227cc;
	background: #ffffff;
}
.btn.deactivate {
	color: #abb5be;
	background: #ffffff;
}

.clearfix::after {
	content: '';
	clear: both;
	display: table;
}
.header-logo {
	font-style: normal;
	font-weight: 800;
	font-size: 20px;
	line-height: 24px;

	color: #000000;
}
.navigation-list-content {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	/* identical to box height, or 114% */

	/* Secondary/color */

	color: #6c757d;
}
.header-input-area {
	border: 1px solid #dee2e6;
	border-radius: 4px;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	/* identical to box height */

	/* Secondary/Light Color */

	color: #abb5be;
}
.header-button-area {
	border: 1px solid #28a745;
	border-radius: 4px;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	/* identical to box height */

	/* /Status Color / Success */

	color: #28a745;
}
.body {
	padding: 0 11%;
}
.section-heading {
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 48px;
	letter-spacing: -0.02em;

	/* Heading/Title Color */

	color: #152536;
	border-bottom: 1px solid #d9dde2;
}
.color-section-heading {
	font-style: normal;
	font-weight: 600;
	font-size: 32px;
	line-height: 39px;
}
.color-detail-heading {
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;

	/* Dark */

	color: #343a40;
}
.color-detail-hex {
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
	/* identical to box height */

	/* Body Text Color */

	color: #6b7176;
}
.tabs-name {
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 21px;
	/* identical to box height, or 150% */

	/* Primary/Color */

	color: #7749f8;
	border: 1px solid #dee2e6;
	border-radius: 4px 4px 0 0;
}
.current-active-tab {
	color: #6c757d;
	border-bottom: 1px solid white;
}
.empty-tab {
	border-bottom: 1px solid #dee2e6;
}
.tab-content {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 28px;
	/* or 175% */

	/* Body Text / Base Color */

	color: #68717a;
}
.button-section-heading {
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 29px;
	/* identical to box height */

	/* Heading/Title Color */

	color: #152536;
	border-bottom: 1px solid #dee2e6;
}
.table-heading {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 28px;
	/* identical to box height, or 175% */

	/* Body Text Color */

	color: #6b7176;
}
.components-header {
	font-style: normal;
	font-weight: 600;
	font-size: 28px;
	line-height: 34px;
	/* identical to box height */

	/* Heading/Title Color */

	color: #152536;
}
.components-list {
	border: 1px solid #dee2e6;
	border-radius: 4px;
}
.component-elements {
	list-style-type: none;
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	line-height: 17px;
	/* identical to box height, or 100% */

	/* Heading/Title Color */

	color: #152536;
}
.component-elements:not(:last-child) {
	border-bottom: 1px solid #dee2e6;
}
.active-list {
	background: #7749f8;
	color: #ffffff;
}
.form-labels {
	display: block;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 29px;
	/* identical to box height */

	/* Heading/Title Color */

	color: #152536;
}
.input-label-width {
	width: 68%;
	padding: 9px 0 8px 2%;
}
.inline-select,
.select-vertical {
	accent-color: #7749f8;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 12px;
	/* identical to box height, or 100% */

	/* Heading/Title Color */

	color: #152536;
}
.small-label {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 21px;
	/* identical to box height, or 131% */

	/* Heading/Title Color */

	color: #152536;
}
.validation-label {
	display: block;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 21px;
	/* identical to box height, or 131% */

	/* Heading/Title Color */

	color: #152536;
}
.custom-content-header {
	font-style: normal;
	font-weight: 600;
	font-size: 28px;
	line-height: 34px;
	/* identical to box height */

	/* Heading/Title Color */

	color: #152536;
}
.custom-content-topic-body {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
}
.custom-content-topic-footer {
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
}
.custom-main-body-border {
	border: 1px solid #dee2e6;
	border-radius: 4px;
}
.custom-content-body:not(:last-child) {
	border-bottom: 1px solid #dee2e6;
}

.validation-label-success {
	border-color: #28a745;
}
.validation-label-error {
	border-color: #dc3545;
}
.table-section-table {
	width: 100%;
	margin-top: 54px;
}
tr.table-section-row-body {
	border-bottom: 2px solid #dee2e6;
}
tr.table-section-row-body:nth-child(odd) {
	background: #f8f9fa;
}
