a {
	text-decoration: none;
	color: blue;
}
.center {
	margin: 20px auto;
	text-align: center;
}

section.center > h1 {
	background-color: rgba(96, 85, 85, 0.8);
	border-radius: 20px;
	margin: 2.5% 30% 2.5% 30%;
	color: white;
}
section.center > div {
	padding: 10px 0;
	text-decoration: underline;
}
.float-left {
	float: left;
}
.table {
	background-color: rgba(96, 85, 85);
	border-radius: 20px;
	color: white;
}
.table-content {
	text-align: center;
}
.table-content::after {
	content: '';
	clear: both;
	display: table;
}
.table-row {
	margin: 0 4%;
}
.table-row > h1,
.table-row > p {
	margin: 20px 0 50px 0;
}
.btn {
	padding: 16px 30px;
	border-radius: 4px;
}
.btn.primary {
	background: #4e42d9;
	color: #ffffff;
}

.btn.secondary {
	padding: 16px 30px;
	background: #ffffff;
	border-radius: 4px;
	color: #4e42d9;
}
