@media screen and (max-width: 384px) {
	.heading-area {
		width: 100%;
	}
	.heading-logo,
	.heading-nav {
		float: none;
		text-align: center;
	}
	.nav-list-content {
		display: block;
		float: none;
		padding: 20px;
		border-bottom: 2px solid lightgray;
	}
}
@media screen and (max-width: 720px) {
	.heading-area {
		width: 100%;
	}
	.heading-logo,
	.heading-nav {
		float: none;
		display: table;
		margin: 0 auto;
		padding: 22px 0 0 0px;
	}
	.heading-nav {
		text-align: center;
	}
	.nav-list {
		margin: 0 auto;
	}
}
