@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

div.heading-logo > span {
	color: #4e42d9;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}

.btn {
	padding: 16px 30px;
	border-radius: 4px;
}
.btn.primary {
	background: #4e42d9;
	color: #ffffff;
}

.btn.secondary {
	padding: 16px 30px;
	background: rgba(78, 66, 217, 0.18);
	border-radius: 4px;
	color: #4e42d9;
}
.btn:hover {
	cursor: pointer;
}

.blog-body {
	width: 100%;
	background-color: #f8f8f8;
	margin-top: 12px;
}
.Blog-heading {
	text-align: center;
	width: 38.81%;
	margin-left: auto;
	margin-right: auto;
}
.Blog-heading > h1 {
	font-style: normal;
	font-weight: 600;
	font-size: 32px;
	line-height: 140%; /* identical to box height, or 45px */

	letter-spacing: 0.01em;

	/* Body / Title */

	color: #3b3950;
	margin-bottom: 8px;
}
.Blog-heading > p {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	/* or 24px */

	text-align: center;
	letter-spacing: 0.01em;
	color: #797979;
}
