@media screen and (min-width: 1200px) {
	.header {
		padding: 32px 2% 32px 2%;
	}
	.small-screen {
		float: left;
		padding: 32px 0 32px 2.77%;
	}

	.nav-toggle {
		display: none;
	}
	.navigation {
		display: inline;
	}
	.nav-area {
		float: right;
		padding: 32px 2.77% 32px 0;
	}
	.nav-list-content {
		float: left;
		padding-left: 48px;
	}
	.hero-image {
		margin: 0 8.33% 0 0;
		width: 40%;
	}
	.hero-content {
		margin: 58.6px 0 0 8.33%;
		width: 34.72%;
	}
	.main-working-section-container {
		padding: 0 8.33%;
	}
	.header-area {
		margin: 0 0 40px 0;
	}
	.working-area {
		float: left;
		width: 24%;
	}
	.working-area:not(:last-child) {
		margin: 0 1% 0 0;
	}
}
