@media screen and (min-width: 1200px) {
	.header {
		padding: 32px 2% 32px 2%;
	}
	.small-screen {
		float: left;
		padding: 32px 0 32px 2.77%;
	}

	.nav-toggle {
		display: none;
	}
	.navigation {
		display: inline;
	}
	.nav-area {
		float: right;
		padding: 32px 2.77% 32px 0;
	}
	.nav-list-content {
		float: left;
		padding-left: 48px;
		border: none;
	}
	.hero-image {
		margin: 0 8.33% 0 0;
		width: 40%;
	}
	.hero-content {
		margin: 58.6px 0 0 8.33%;
		width: 34.72%;
	}
	.main-working-section-container {
		padding: 72px 8.33%;
	}
	.header-area {
		margin: 0 0 40px 0;
	}
	.working-area {
		float: left;
		width: 24%;
	}
	.working-area:nth-child(even) {
		padding-bottom: 0;
	}
	.working-area:not(:last-child) {
		margin: 0 1% 0 0;
	}
	.blog-body {
		margin-top: 22px;
	}
	.blog-section {
		padding: 72px 8vw 72px 8vw;
	}
	.blog-content {
		margin-bottom: 71px;
	}
	.Blog-heading {
		width: 38.81%;
		margin: 0 auto 40px auto;
	}
	.blog-view {
		width: 32%;
		float: left;
	}
	.blog-view:nth-child(even) {
		padding-bottom: 0;
	}
	.blog-view:not(:last-child) {
		margin: 0 1% 0 0;
	}
	.image-blog-area,
	.image-blog-area > img {
		width: 100%;
	}
	.blog-button > div {
		width: fit-content;
		margin: 0 auto;
	}
	.footer-section {
		padding: 0 8vw 72px 8vw;
	}
	.footer-content,
	.footer-table {
		width: 50%;
		margin-top: 72px;
		float: left;
	}

	.footer-content > h1,
	.footer-content > p {
		width: 55%;
	}

	.footer-table-content {
		width: 100%;
	}
	.footer-table-content::after {
		content: '';
		clear: both;
		display: table;
	}
	.footer-table-row {
		float: left;
	}
	.footer-table-row:not(:last-child) {
		margin-right: 12.39%;
	}
	.footer-table-row > h1 {
		margin-bottom: 16px;
	}
	.footer-table-row > p > a {
		color: rgba(255, 255, 255, 0.8);
	}
	.footer-table-row > p {
		margin: 8px 0;
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 110%;
		/* identical to box height, or 18px */
	}
	.copyright {
		text-align: center;
		padding: 19px 0;
	}
}
