@media screen and (min-width: 576px) {
	.header {
		padding: 20px 9% 20px 9%;
	}
	.header-logo {
		float: left;
		width: 50%;
	}
	.small-screen {
		padding: 22px 0 12px 2.77%;
	}
	.nav-toggle {
		display: inline;
	}
	.navigation {
		display: none;
	}
	.nav-area {
		padding: 32px 2.77% 32px 0;
		display: table;
		margin: 0 auto;
	}
	.nav-list-content {
		float: left;
		padding-left: 48px;
	}
	.hero-image {
		margin: 50px 4.66% 0 0;
		padding-bottom: 24px;
		float: right;
		width: 50%;
	}
	.hero-image > img {
		width: 100%;
	}
	.hero-content {
		margin: 0 0 50px 4.66%;
		padding-top: 24px;
		float: left;
		width: 40%;
	}
	section.hero-content-section > h1 {
		font-style: normal;
		font-weight: 700;
		font-size: 36px;
		line-height: 130%;
		/* or 47px */

		/* Body / Title */

		color: #3b3950;
		margin-bottom: 6px;
	}
	section.hero-content-section > p {
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 150%;
		/* or 24px */

		/* Body / Paragraph */

		color: #797979;
	}
	section.hero-content-section > p:not(:last-child) {
		margin-top: 6px;
	}
	.hero-btn {
		margin-top: 48px;
	}
	.hero-btn > div {
		float: left;
	}
	.hero-btn > div:not(:last-child) {
		margin-right: 12px;
	}
}
