@media screen and (min-width: 576px) {
	.header {
		padding: 20px 9% 20px 9%;
	}
	.header-logo {
		float: left;
		width: 50%;
	}
	.small-screen {
		padding: 22px 0 12px 2.77%;
	}
	.nav-toggle {
		display: inline;
	}
	.navigation {
		display: none;
	}
	.nav-area {
		padding: 32px 2.77% 32px 0;
		display: table;
		margin: 0 auto;
	}
	.nav-list-content {
		float: left;
		padding-left: 48px;
	}
	.hero-image {
		margin: 50px 4.66% 0 0;
		padding-bottom: 24px;
		float: right;
		width: 50%;
	}
	.hero-image > img {
		width: 100%;
	}
	.hero-content {
		margin: 0 0 50px 4.66%;
		padding-top: 24px;
		float: left;
		width: 40%;
	}
	section.hero-content-section > h1 {
		font-style: normal;
		font-weight: 700;
		font-size: 36px;
		line-height: 130%;
		/* or 47px */

		/* Body / Title */

		color: #3b3950;
		margin-bottom: 6px;
	}
	section.hero-content-section > p {
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 150%;
		/* or 24px */

		/* Body / Paragraph */

		color: #797979;
	}
	section.hero-content-section > p:not(:last-child) {
		margin-top: 6px;
	}
	.hero-btn {
		margin-top: 48px;
	}
	.hero-btn > div {
		float: left;
	}
	.hero-btn > div:not(:last-child) {
		margin-right: 12px;
		margin-bottom: 10px;
	}
	.main-working-section-container {
		padding: 0 8.33%;
	}
	.header-area {
		margin: 0 0 62px 0;
	}
	.working-area {
		float: left;
		width: 50%;
	}
	.working-area:nth-child(even) {
		padding-bottom: 50px;
	}
	.blog-body {
		margin-top: 22px;
	}
	.blog-section {
		padding: 50px 4vw 72px 4vw;
	}
	.blog-content {
		margin-bottom: 52px;
	}
	.Blog-heading {
		width: 100%;
		margin: 0 auto 0 auto;
	}

	.blog-view {
		width: 42vw;
		float: left;
	}
	.blog-view:not(:last-child) {
		margin: 72px 2vw auto 2vw;
	}
	.blog-view:nth-child(even) {
		padding-bottom: 50px;
	}
	.main-blog-area > h1 {
		margin-bottom: 8px;
	}
	.image-blog-area,
	.image-blog-area > img {
		width: 100%;
	}
	.blog-button > div {
		width: fit-content;
		margin: 0 auto;
	}
	.footer-section {
		padding: 50px 8vw 42px 8vw;
	}
	.footer-content {
		width: 100%;
		margin-top: 22px;
		float: none;
	}
	.footer-table {
		width: 100%;
		margin-top: 48px;
		float: none;
	}

	.footer-content > h1,
	.footer-content > p {
		width: 100%;
	}

	.footer-table-content {
		width: 100%;
	}
	.footer-table-content::after {
		content: '';
		clear: both;
		display: table;
	}
	.footer-table-row {
		float: left;
	}
	.footer-table-row:nth-child(even) {
		padding-bottom: 50px;
	}
	.footer-table-row:not(:last-child) {
		margin-right: 12.39%;
	}
	.footer-table-row > h1 {
		margin-bottom: 16px;
	}
	.footer-table-row > p > a {
		padding: 8px 0;
	}
	.footer-table-row > p {
		padding: 8px 0;
	}
	.copyright {
		text-align: center;
		padding: 19px 0;
	}
}
