@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}
/*
	Navigation Bar part
*/
.main-heading {
	position: relative;
	height: 90px;
	width: 100%;
	background-color: red;
}
.main-heading::after {
	content: '';
	clear: both;
	display: table;
}
.heading {
	position: fixed;
	height: 90px;
	background-color: #f8f9fa;
	opacity: 1;
	width: 100%;
	z-index: 1000;
}
.navigation {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	padding: 0 10%;
	width: 100%;
	box-sizing: border-box;
}
.navigation::after {
	content: '';
	clear: both;
	display: table;
}

nav.navigation > article:not(:last-child) {
	display: inline;
	float: left;
}

article.nav-logo > h1 {
	font-size: x-large;
	font-weight: 900;
}
.nav-logo {
	margin-right: 2.5%;
}
.nav-contain {
	margin-left: 2.5%;
	padding: 0.5% 0;
}
.nav-search {
	float: right;
}

.list-nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.list-nav::after {
	content: '';
	clear: both;
	display: table;
}
ul.list-nav > li {
	float: left;
}
ul.small-padding > li {
	padding: 0 10px;
}

.btn {
	border: 2px solid;
	border-radius: 5px;
	padding: 2.5% 20px;
}
input[type^='button'] {
	border-color: #5fbc76;
	color: #5fbc76;
}
/*
	First section part
*/
.body {
	position: relative;
	padding: 0 10%;
}
.section-title {
	border-bottom: #e1e5e8 solid;
	padding: 2.5% 0;
}
.non-primary-title {
	padding: 6% 0 2.5% 0;
}

div.section-title > h1 {
	font-size: 6vh;
}
.subheader-body {
	margin: 4% 0 1.5% 0;
}
div.subheader-body h1 {
	font-size: 3vh;
}
div.subheader-body::after {
	content: '';
	clear: both;
	display: table;
}
.display-area {
	margin: 2.5% 0 0 0;
}
.display-area::after {
	content: '';
	clear: both;
	display: table;
}
div.color-combo {
	float: left;
	margin-right: 2.5%;
}
.color-area-actual {
	width: 10vw;
	height: 10vh;
	margin-bottom: 12.5%;
	background-color: red;
	border-radius: 10px;
}
.color-area-padding {
	padding: 50% 100%;
}

/*Following are the color code*/
#primary {
	background-color: #7749f8;
}
#primary-dark {
	background-color: #5227cc;
}
#primary-light {
	background-color: #ebe5fc;
}
#secondary {
	background-color: #007dff;
}
#secondary-light {
	background-color: #abb5be;
}
#secondary-dark {
	background-color: #54595e;
}
#success {
	background-color: #28a745;
}
#danger {
	background-color: #dc3545;
}
#warning {
	background-color: #ffc107;
}
#info {
	background-color: #17a2b8;
}
#gray-1 {
	background-color: #6c757d;
}
#gray-2 {
	background-color: #495057;
}
#gray-3 {
	background-color: #343a40;
}
#gray-4 {
	background-color: #212529;
}
/*
	Second Section
*/
article p[class*='sample-text'] {
	line-height: 1.8;
}
.stack-text {
	float: left;
	width: 50%;
}
.body-text {
	padding: 0 20% 0 0;
}
.overline-class {
	text-decoration: overline;
}
.lead-text {
	font-size: 20px;
}
/*
	Tabs section
*/
.tab-section {
	width: 50%;
	margin: 2% 0;
}
.sample-text-top-margin {
	margin-top: 5%;
}
.tab-nav {
	width: 100%;
	border-bottom: 1px solid #d3d3d3;
	padding: 2.5% 2.5% 0 0;
}
li[class*='nav-border'] {
	border: 1px solid #d3d3d3;
	padding: 2.5%;
	border-radius: 4px;
}

/*
	Buttons
*/
.subheader-body-underline {
	padding-bottom: 1.5%;
	border-bottom: 1px solid #d3d3d3;
}
.button-table {
	width: 50%;
}
.button-table-row {
	text-align: left;
	padding: 2.5% 0;
}
.button-table-row > button {
	border: 2px solid;
	border-radius: 5px;
	padding: 2.5% 20px;
}

/*
	coloring buttons
*/
.primary-button-purple {
	background-color: #7749f8;
	border-color: #7749f8;
	color: white;
}
.outline-button-purple {
	border-color: #7749f8;
	color: #7749f8;
	background-color: white;
}
#hover-primary-button:hover {
	background-color: #5227cc;
	border-color: #5227cc;
	color: white;
}
#hover-outline-button:hover {
	background-color: #7749f8;
	border-color: #7749f8;
	color: white;
}
#active-primary-button:active {
	background-color: #5227cc;
	border-color: #5227cc;
	color: rgb(162, 155, 155);
}
.secondary-button-purple {
	background-color: #6c757d;
	border-color: #6c757d;
	color: white;
}
.secondary-outline-button-purple {
	border-color: #6c757d;
	color: #6c757d;
	background-color: white;
}
#hover-secondary-button:hover,
#focus-secondary-button:focus {
	background-color: #54595e;
	border-color: #54595e;
	color: white;
}
#secondary-hover-outline-button:hover {
	background-color: #6c757d;
	border-color: #6c757d;
	color: white;
}
