@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}
/*
	Navigation Bar part
*/
.main-heading {
	position: relative;
	height: 90px;
	width: 100%;
	background-color: red;
}
.main-heading::after {
	content: '';
	clear: both;
	display: table;
}
.heading {
	position: fixed;
	height: 90px;
	background-color: #f8f9fa;
	opacity: 1;
	width: 100%;
	z-index: 1000;
}
.navigation {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	padding: 0 10%;
	width: 100%;
	box-sizing: border-box;
}
.navigation::after {
	content: '';
	clear: both;
	display: table;
}

nav.navigation > article:not(:last-child) {
	display: inline;
	float: left;
}

article.nav-logo > h1 {
	font-size: x-large;
	font-weight: 900;
}
.nav-logo {
	margin-right: 2.5%;
}
.nav-contain {
	margin-left: 2.5%;
	padding: 0.5% 0;
}
.nav-search {
	float: right;
}

.list-nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.list-nav::after {
	content: '';
	clear: both;
	display: table;
}
ul.list-nav > li {
	float: left;
}
ul.list-nav > li > a {
	color: black;
	text-decoration: none;
}
ul.small-padding > li {
	padding: 0 10px;
}

.btn {
	border: 2px solid;
	border-radius: 5px;
	padding: 2.5% 20px;
}
input[type^='button'] {
	border-color: #5fbc76;
	color: #5fbc76;
}
/*
	First section part
*/
.body {
	position: relative;
	padding: 0 10%;
}
.section-title {
	border-bottom: #e1e5e8 solid;
	padding: 2.5% 0;
}
.non-primary-title {
	padding: 6% 0 2.5% 0;
}

div.section-title > h1 {
	font-size: 6vh;
}
.subheader-body {
	margin: 4% 0 1.5% 0;
}
div.subheader-body h1,
.form-compoment-head {
	font-size: 4vh;
}
div.subheader-body::after {
	content: '';
	clear: both;
	display: table;
}
.display-area {
	margin: 2.5% 0 0 0;
}
.display-area::after {
	content: '';
	clear: both;
	display: table;
}
div.color-combo {
	float: left;
	margin-right: 2.5%;
}
.color-area-actual {
	width: 10vw;
	height: 10vh;
	margin-bottom: 12.5%;
	background-color: red;
	border-radius: 10px;
}
.color-area-padding {
	padding: 50% 100%;
}

/*Following are the color code*/
#primary {
	background-color: #7749f8;
}
#primary-dark {
	background-color: #5227cc;
}
#primary-light {
	background-color: #ebe5fc;
}
#secondary {
	background-color: #007dff;
}
#secondary-light {
	background-color: #abb5be;
}
#secondary-dark {
	background-color: #54595e;
}
#success {
	background-color: #28a745;
}
#danger {
	background-color: #dc3545;
}
#warning {
	background-color: #ffc107;
}
#info {
	background-color: #17a2b8;
}
#gray-1 {
	background-color: #6c757d;
}
#gray-2 {
	background-color: #495057;
}
#gray-3 {
	background-color: #343a40;
}
#gray-4 {
	background-color: #212529;
}
/*
	Second Section
*/
article p[class*='sample-text'] {
	line-height: 1.8;
}
.stack-text {
	float: left;
	width: 50%;
}
.body-text {
	padding: 0 20% 0 0;
}
.overline-class {
	text-decoration: overline;
}
.lead-text {
	font-size: 20px;
}
/*
	Tabs section
*/
.tab-section {
	width: 50%;
	margin: 2% 0;
}
.sample-text-top-margin {
	margin-top: 5%;
}
.tab-nav {
	width: 100%;
	border-bottom: 1px solid #d3d3d3;
	padding: 2.5% 2.5% 0 0;
}
li[class*='nav-border'] {
	border: 1px solid #d3d3d3;
	padding: 2.5%;
	border-radius: 4px;
}

/*
	Buttons
*/
.subheader-body-underline {
	padding-bottom: 1.5%;
	border-bottom: 1px solid #d3d3d3;
}
.button-table {
	width: 50%;
}
.button-table-row {
	text-align: left;
	padding: 2.5% 0;
}
.button-table-row > button {
	border: 2px solid;
	border-radius: 5px;
	padding: 2.5% 20px;
}

/*
	coloring buttons
*/
.primary-button-purple {
	background-color: #7749f8;
	border-color: #7749f8;
	color: white;
}
.outline-button-purple {
	border-color: #7749f8;
	color: #7749f8;
	background-color: white;
}
#hover-primary-button:hover {
	background-color: #5227cc;
	border-color: #5227cc;
	color: white;
}
#hover-outline-button:hover {
	background-color: #7749f8;
	border-color: #7749f8;
	color: white;
}
#active-primary-button:active {
	background-color: #5227cc;
	border-color: #5227cc;
	color: rgb(162, 155, 155);
}
.secondary-button-purple {
	background-color: #6c757d;
	border-color: #6c757d;
	color: white;
}
.secondary-outline-button-purple {
	border-color: #6c757d;
	color: #6c757d;
	background-color: white;
}
#hover-secondary-button:hover,
#focus-secondary-button:focus {
	background-color: #54595e;
	border-color: #54595e;
	color: white;
}
#secondary-hover-outline-button:hover {
	background-color: #6c757d;
	border-color: #6c757d;
	color: white;
}

/*
	Forms
*/
.form-area {
	width: 100%;
}
.form-area::after {
	content: '';
	clear: both;
	display: table;
}
.components {
	width: 35%;
}
.form-section-article {
	float: left;
}
ul[class*='form-list'] {
	margin: 10% 0 0 0;
}
ul[class*='form-list'] > li {
	border: 1px solid #dee2e6;
	margin-right: 20%;
	padding: 2.5% 0 2.5% 2.5%;
}
#forms-bg-color {
	color: white;
	background-color: #7749f8;
}
/*
	Form body section
*/
label > h2 {
	margin: 5vh 0 2.5vh 0;
}
.input-area {
	border: 2px solid #dee2e6;
	border-radius: 5px;
	padding: 2.5% 20px;
	width: 25vw;
}
#text-area {
	height: 15vh;
	resize: none;
}
input:disabled + label {
	color: #ccc;
}
.form-check-area-container::after {
	content: '';
	clear: both;
	display: table;
}
.form-check-area {
	float: left;
}
.vertical-form-check-area {
	margin-right: 2.5vw;
}
.single-check-button {
	padding: 2vh 0;
}
.single-check-button > input {
	accent-color: #7749f8;
}
.single-check-button-float {
	float: left;
	padding-right: 1.5vw;
}
.valid {
	margin: 1.5vh 0.5vw 1.5vh 0.5vw;
}
#input-sucess {
	border-color: #28a745;
}
#input-error {
	border-color: #dc3545;
}
/*
	List Group area
*/
.list-group-area::after {
	content: '';
	clear: both;
	display: table;
}
.list-group-example,
.list-group-custom-content {
	width: 50%;
}
.list-group-example {
	float: left;
}
.list-group-custom-content {
	float: right;
}
.list-group-heading {
	margin: 10vh 0 5vh 0;
	font-size: 30px;
}
.list-group-example > ul {
	border: 1px solid #dee2e6;
	margin: 0 10vw 0 0;
	border-radius: 10px;
}
.list-group-example > ul > li {
	list-style-type: none;
	border: 1px solid #dee2e6;
	padding: 2.5% 0 2.5% 5%;
}
.color-change {
	background-color: #7749f8;
	color: white;
}
.list-group-custom-content > ul,
.list-group-custom-content > div > h1.list-group-heading {
	margin-left: 10vw;
}
.list-group-custom-content > ul > li {
	list-style-type: none;
	border: 1px solid #dee2de;

	padding: 2.5% 2.5% 2.5% 5%;
}
.list-group-custom-content-heading {
	float: left;
}
.list-group-custom-content-time {
	float: right;
	font-size: 80%;
}
.list-group-custom-content-container::after {
	content: '';
	clear: both;
	display: table;
}
.table-section-table {
	width: 100%;
}
.table-cell {
	border-top: 2px solid #dee2de;
	border-bottom: 2px solid #dee2de;
	text-align: left;
	padding: 1vw 0 1vw 1vh;
}
tbody.table-section-body > tr:nth-child(odd) {
	background-color: #f2f2f2;
}
.table-traverse {
	float: right;
	margin-top: 2.5vh;
}
div.table-traverse > button {
	padding: 0.7vw 2vh 0.7vw 2vh;
	color: #7749f8;
	border-radius: 8px;
}
div.table-traverse > button:disabled {
	color: #ddd;
}
#selected-table {
	color: white;
	background-color: #7749f8;
}
.card-section {
	float: left;
	margin: 10vh 2vw 2.5% 0;
}
.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.2s;
	width: 20vw;
}
.card::after {
	content: '';
	clear: both;
	display: table;
}
.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.card-user {
	float: left;
}
.card-user-detail {
	padding: 5%;
}
.card-user-detail::after {
	content: '';
	clear: both;
	display: table;
}
.card-user-right {
	float: right;
}
/* .interact-card-section {
} */
.interact-float {
	float: left;
	width: 33.33%;
	border-bottom: 2px solid #ddd;
}
.comment-section-card {
	float: left;
	width: 30%;
	padding: 10% 0 10% 20%;
}
.comment-input {
	padding: 10% 50%;
}
.second-card-section {
	position: relative;
	height: 80px;
}
.play-section {
	position: absolute;
	top: 1em;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	text-align: center;
}
.count {
	float: left;
}
div.count > span {
	padding: 0 0 5% 5%;
}
.final-card-header {
	padding: 5% 0 5% 5%;
}
.final-card-header > div {
	margin-top: 2%;
}
.final-card-header > div:first-child {
	background-color: #28a745;
	width: 20%;
	border-radius: 20px;
	padding: 2% 0 2% 5%;
}
.final-section {
	margin: 0 0 20% 0;
}
