@media screen and (max-width: 578px) {
	.team__card {
		float: none;
		width: 100%;
		margin: 20px 0;
	}
	.footer__email,
	.blog,
	.footer__logo__area,
	.quicklink,
	.news__letter {
		width: 100%;
	}
	.blog,
	.footer__email,
	.footer__contact__icon,
	.footer__email__id,
	.footer__logo__area,
	.quicklink,
	.news__letter,
	.info__email,
	.info__phone,
	.info__socialsites {
		float: none;
	}
	.contact__footer {
		top: 16%;
	}
	.footer__logo__area,
	.quicklink,
	.news__letter {
		margin: 0;
		margin-top: 40px;
	}
	.footer__copyright {
		margin-top: 40px;
	}
	.info__email,
	.info__phone,
	.info__socialsites {
		display: table;
		text-align: center;
		margin: 0 auto;
		margin-top: 5px;
	}
	.header__logo {
		left: 10%;
		transform: translate(-50%, -50%);
	}
	.about__team__detail,
	.cards__front,
	.downloadapp_article {
		width: 100%;
	}
	.use__steps {
		padding-left: 9.375%;
		padding-right: 9.375%;
	}
	.downloadapp_article {
		text-align: center;
	}
}
