@media screen and (min-width: 1200px) {
	.col-1-ds {
		width: 8.33%;
	}
	.col-2-ds {
		width: 16.66%;
	}
	.col-3-ds {
		width: 25%;
	}
	.col-4-ds {
		width: 33.33%;
	}
	.col-5-ds {
		width: 41.66%;
	}
	.col-6-ds {
		width: 50%;
	}
	.col-7-ds {
		width: 58.33%;
	}
	.col-8-ds {
		width: 66.66%;
	}
	.col-9-ds {
		width: 75%;
	}
	.col-10-ds {
		width: 83.33%;
	}
	.col-11-ds {
		width: 91.66%;
	}
	.col-12-ds {
		width: 100%;
	}
	.hidden {
		display: flex;
	}
	.toggle {
		display: none;
	}
	.navigation {
		align-items: center;
		justify-content: right;
	}
	.nav-content {
		margin: 0;
	}
	.nav-content:not(:last-child) {
		margin-right: 5.5%;
	}
	.nav-content.btn.btn--secondary {
		margin-right: 2.36%;
	}
	.hero__section {
		border-radius: 0 0 30% 30%;
	}
	.hero__image {
		margin-left: 20%;
		height: 100%;
	}
	.play__btn {
		margin-left: 2%;
	}

	.hero__content {
		padding-bottom: 100px;
	}
	.hero__details {
		text-align: left;
	}

	.user__experience {
		display: flex;
	}
	.hero__art {
		padding-left: 4%;
	}
	.user__image__experience {
		display: inline;
	}
	.hero__details__icons {
		display: flex;
	}
	.congrats {
		margin-left: auto;
	}
	.bottom_margin {
		flex-direction: row;
	}
	.features__header {
		padding: 0 28%;
	}
	.fea__art {
		display: flex;
		padding: 122px 2% 0 2%;
		width: 32.6%;
		margin-bottom: 0;
	}
	.fea__art:not(:first-child) {
		margin-left: 1%;
	}
	.fea__art__icon {
		top: -10%;
		left: 50%;
		transform: translate(-50%, 0%);
	}
	.image__section {
		margin-left: 12%;
	}
	.bottom__square {
		top: 19%;
		left: 54%;
	}
	.play__button__area {
		top: 40%;
		transform: translate(-50%, -100%);
	}
	.detail__icon > img {
		width: 50%;
	}
	.tools {
		justify-content: right;
	}
	.tools__heading {
		margin-right: 5%;
	}
	.assessment {
		flex-direction: row;
	}
}
