@media screen and (min-width: 576px) {
	.col-1-tb {
		width: 8.33%;
	}
	.col-2-tb {
		width: 16.66%;
	}
	.col-3-tb {
		width: 25%;
	}
	.col-4-tb {
		width: 33.33%;
	}
	.col-5-tb {
		width: 41.66%;
	}
	.col-6-tb {
		width: 50%;
	}
	.col-7-tb {
		width: 58.33%;
	}
	.col-8-tb {
		width: 66.66%;
	}
	.col-9-tb {
		width: 75%;
	}
	.col-10-tb {
		width: 83.33%;
	}
	.col-11-tb {
		width: 91.66%;
	}
	.col-12-tb {
		width: 100%;
	}
	.play__btn {
		margin: 0;
		margin-top: 20px;
	}
	.company__logo {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.features__header {
		padding: 0 10%;
	}
	.fea__art {
		display: flex;
		padding: 122px 5% 50px 5%;
	}
	.fea__art__icon {
		top: -10%;
		left: 50%;
		transform: translate(-50%, 30%);
	}
	.fea__art:nth-child(even) {
		margin-left: 16%;
	}
}
